<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>PharmGuard</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets_client/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets_client/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets_client/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/assets_client/img/favicons/favicon.ico">
    <link rel="manifest" href="/assets_client/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/assets_client/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/assets_client/css/theme.css" rel="stylesheet" />

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" style="background-color:rgb(74, 170, 74);" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-inline-flex" href="index.ejs"><img class="d-inline-block" src="/assets_client/img/gallery/loca.svg" alt="" /><span style="position: middle;">PharmGuard</span></a>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
          </div>
        </div>
      </nav>
      <section class="py-1 bg-light-gradient border-bottom border-white border-5 mb-5">
        
        <!--/.bg-holder-->

        <div class="container  mt-5 pt-5">
          <div class="row flex-center">
            <div class="col-12 mb-5 mt-5">
              <div class="d-flex align-items-center flex-column" style="margin: top 15px;">
                <h1 class="fw-normal"> </h1>
                <h1 class="fs-4 fs-lg-8 fs-md-6 fw-bold" style="margin: top 15px;">Vos pharmacies de gardes de cette semaine</h1>
              </div>
            </div>
          </div>
        </div>
      </section>



      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0 pb-4">

        <div class="container-fluid container-lg mt-0">
          <div class="row h-100 g-2 justify-content-center">
            <% for(var i=0; i<items[1].length; i++){ %>
            <div class="col-sm-3 mb-3 mb-md-0 h-50">
              <div class="card card-span text-white h-10">
                <img class="img-card h-100" src="/assets_client/img/gallery/pharm.jpg" alt="..." />
                <div class="card-body px-xl-5 px-md-3 pt-0 pb-7">                  
                  <h3 class="fw-bold text-1000 mt-5 text-truncate">Pharmacie <%= items[1][i].ph_name%></h3>
                  <p class="text-1000 mt-3 fw-bold">Adresse: <%= items[1][i].ph_location%></p>
                  <p class="text-1000 mt-3 fw-bold">Telephone: <%= items[1][i].ph_phone%></p>
                  <p class="text-1000 mt-3 fw-bold">Email: <%= items[1][i].ph_email%></p><br><br>
                  <a type="button" class="btn btn-success" href="/client/list-products/<%= items[1][i].ph_id%>">Consulter</a>
                  <a class="btn btn-lg text-900 fs-1 px-0 hvr-icon-forward" href="#!" role="button">
                   </a>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
        <!-- end of .container-->
        

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/vendors_client/@popperjs/popper.min.js"></script>
    <script src="/vendors_client/bootstrap/bootstrap.min.js"></script>
    <script src="/vendors_client/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/vendors_client/feather-icons/feather.min.js"></script>
    <script>
      feather.replace();
    </script>
    <script src="/assets_client_client/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
  </body>

</html>